@use 'variaveis';

.avaliacao{
    padding: 5.6vw;
    min-height: 80vh;

    h1{
        text-align: center;
        font-size: 60px;
        padding-bottom: 40px;
    }

    
    &__conteudo{
        padding: 30px;
        max-width: 1024px;
        margin: 36px auto;
        border-radius: 5px;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
        
        h3{
            font-family: sans-serif;
            font-size: 28px;
            margin-bottom: 20px;
        }

        
    }
    
}

.nota{
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: sans-serif;
    font-size: 20px;
    padding-bottom: 10px;
    
    img{
        margin-right: 10px;
        height: 20px;
        width: 20px;
    }
}

@media screen and (max-width: 768px){

    .avaliacao{

        h1{
            font-size: 30px;
            padding-bottom: 10px;
        }

        &__conteudo{

            h3{
                font-size: 18px;
            }
        }
    }

    .nota{
        font-size: 18px;
        
        img{
            margin-right: 10px;
            height: 18px;
            width: 18px;
        }
    }
}




