@use 'variaveis';

.elenco{
    padding: 5.6vw;
    min-height: 80vh;
    background-color: variaveis.$corDeFundo;

    h1{
        text-align: center;
        font-size: 60px;
        padding-bottom: 40px;
    }

    &__conteudo{
        margin: 36px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__lista{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;

        &:nth-child(2){
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 40px;
        }

        &__item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img{
                width: 260px;
                height: 350px;
                border-radius: 8px;
                margin-bottom: 20px;
                margin-top: 10px;
            }
        }
    }
}

@media screen and (max-width: 768px){

    .elenco{

        h1{
            font-size: 30px;
            padding-bottom: 10px;
        }

        &__conteudo{
            display: block;
        }

        &__lista{
            display: block;

            &:nth-child(2){
                display: block;
                margin-top: 0;
            }

            &__item{
                margin-bottom: 20px;

                img{
                    width: 220px;
                    height: 300px;
                }
            }
        }
    }
}
