@use 'variaveis';

.hero{
    padding: 5.6vw;
    min-height: 100vh;
    background-size: cover;
    background-image: url(../../dist/images//vastidao_da_noite_banner2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    align-content: center;
    margin-top: -86px;

    @media (max-width: 768px){
        min-height: 50vh;
        background-position: -300px;
    }
}


